body {
    font-size: 19px;
}
table{
    width: 30%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
}
.btn{

    padding: 10px;
    font-size: 20px;
    color: white;
    background: purple;
    border: none;
    border-radius: 5px;
    text-align: center;

}
